<%= f.fields_for :ingredients do |ff| %>
  <fieldset>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="field">
            <div class="control">
              <%= ff.number_field :amount, class: "input" %>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <%= ff.text_field :measurement, class: "input" %>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <%= ff.text_field :food, class: "input" %>
            </div>
          </div>
        </div>

        <%= ff.hidden_field :_destroy %>
        <div class="level-item">
          <div class="field">
            <div class="control">
              <button class="button">
                <%= link_to "remove", '#', class: "remove_ingredient" %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
