<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %> | Cookbook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </scirpt>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar is-fixed-top is-link" role="navigation" aria-label="main">
      <div class="navbar-brand">
        <a class="navbar-item" href="#" style="font-size:x-large; font-weight:bold;">
          Cookbook
        </a>
      </div>

      <div id="menu" class="navbar-menu">
        <div class="navbar-start">
          <a href="#" class="navbar-item">Home</a>
          <a href="#" class="navbar-item">Advanced Search</a>
          <a href="#" class="navbar-item">Add Recipe</a>
          <a href="#" class="navbar-item">Saved Recipes</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
